/* line 8, ../../sass/partials/custom.scss */
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  color: #000;
  width: 100%;
  font-family: Gotham-Book;
  -webkit-font-smoothing: antialiased;
}

/* line 23, ../../sass/partials/custom.scss */
.iconWrapElement button {
  margin: 0px 8px 0px 0px;
}
/* line 27, ../../sass/partials/custom.scss */
.iconWrapElement .btn-active-on {
  background-image: url("../img/green-tick1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 23px;
}
/* line 35, ../../sass/partials/custom.scss */
.iconWrapElement .btn-active-off {
  background-image: url("../img/red-tick1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 23px;
}
/* line 43, ../../sass/partials/custom.scss */
.iconWrapElement .btn-delete {
  background-image: url("../img/icon-delete1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}
/* line 50, ../../sass/partials/custom.scss */
.iconWrapElement .btn-edit {
  background-image: url("../img/icon-edit2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 26px;
}

/* line 73, ../../sass/partials/custom.scss */
#timesheet_holder .job_wrap.job-inactive div[class^="col-"], #timesheet_holder .job_wrap.job-inactive div[class*="col-"] {
  outline: 1px solid red;
}
/* line 82, ../../sass/partials/custom.scss */
#timesheet_holder .job_wrap.job-active div[class^="col-"], #timesheet_holder .job_wrap.job-active div[class*="col-"] {
  outline: 1px solid green;
}

/* this CSS is not part of the widget, it is here just as an example of the demo page styling.... Don't copy this one, roll your own. One
 * of the key things about the widget is that it allows you to do your own styling!
 */
/* line 100, ../../sass/partials/custom.scss */
#editor {
  max-height: 250px;
  height: 250px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid #cccccc;
  padding: 4px;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07451) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.07451) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}

/* line 115, ../../sass/partials/custom.scss */
#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 128, ../../sass/partials/custom.scss */
div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 135, ../../sass/partials/custom.scss */
.dropdown-menu a {
  cursor: pointer;
}
